<Azure>
	<Location>North Central US</Location>
	<Subscription>PAAS-T01</Subscription>
	<CloudService>BJD-ALWAYSON-TEST</CloudService>
	<BlobStorage>bjdalwayson</BlobStorage>
	<AffinityGroup>BJD-ALWAYSON-AFG</AffinityGroup>
	<VNet Name="BJD-ALWAYSON-VNET">
		<AddressPrefix>192.168.0.0/16</AddressPrefix>
		<DNSServer Name="BJD-ALWAYSON-DNS" IpAddress="192.168.10.4" />
		<Subnet Name="BJD-ALWAYSON-SUBNET" AddressPrefix="192.168.10.0/24" />
	</VNet>
    <ScriptExtension ContainerName="scripts" >
		<Script FilePath="D:\temp" />
	</ScriptExtension>
	<ActiveDirectory enabled="False">
        <Domain Name="sqldemo.test" NetBIOS="sqldemo" DomainAdminUser="manager" DomainAdminPassword='' />
		<VM ComputerName="bjd-dc" VMSize="Small" DriveSize="60" DriveLabel="DATA-01" OS="Windows Server 2012 R2 Datacenter" IpAddress="192.168.10.4" />
		<ADCreateScript>.\ScriptBlocks\Create-ADForest.ps1</ADCreateScript>
		<CertificateAuthority enabled="True">
			<Script>.\ScriptBlocks\Create-CertificateAuthority.ps1</Script>
		</CertificateAuthority>
	</ActiveDirectory>
	<DesireStateConfiguration enabled="False" />
	<MemberServers>
		<Server JoinDomain="True">	
			<ComputerName>bjd-sql-001</ComputerName>
			<OS>SQL Server 2014 SP1 Enterprise on Windows Server 2012 R2</OS>
			<Guid/>
			<LocalAdminUser>manager</LocalAdminUser>
			<LocalAdminPassword></LocalAdminPassword>
			<VMSize>Medium</VMSize> 
			<Drives>
				<Drive DriveSize="127" DriveLabel="DATA-01" />
			</Drives>
			<EndPoints />
			<ScriptExtension Required="False" Type="AzureDSC|DomainDSC|Remoting" Path="" />
		</Server>
		<Server JoinDomain="True">	
			<ComputerName>bjd-sql-002</ComputerName>
			<OS>SQL Server 2014 SP1 Enterprise on Windows Server 2012 R2</OS>
			<Guid/>
			<LocalAdminUser>manager</LocalAdminUser>
			<LocalAdminPassword></LocalAdminPassword>
			<VMSize>Medium</VMSize> 
			<Drives>
				<Drive DriveSize="127" DriveLabel="DATA-01" />
			</Drives>
			<EndPoints />
			<ScriptExtension Required="False" Type="AzureDSC|DomainDSC|Remoting" Path="" />
		</Server>
	</MemberServers>
</Azure>