<Azure>
	<Location></Location>
	<Subscription></Subscription>
	<CloudService></CloudService>
	<BlobStorage></BlobStorage>
	<AffinityGroup></AffinityGroup>
	<VNet Name="">
		<AddressPrefix></AddressPrefix>
		<DNSServer Name="" IpAddress="" />
		<Subnet Name="" AddressPrefix="" />
	</VNet>
    <ScriptExtension ContainerName="scripts" >
        <Script FilePath="" />
    </ScriptExtension>
	<ActiveDirectory enabled="True">
        <Domain Name="" NetBIOS="" DomainAdminUser="manager" DomainAdminPassword="" />
		<VM ComputerName="" VMSize="Small" DriveSize="60" DriveLabel="DATA-01" OS="Windows Server 2012 R2 Datacenter" IpAddress="" />
		<ADCreateScript>.\ScriptBlocks\Create-ADForest.ps1</ADCreateScript>
		<CertificateAuthority enabled="True">
			<Script>.\ScriptBlocks\Create-CertificateAuthority.ps1</Script>
		</CertificateAuthority>
	</ActiveDirectory>
	<DesireStateConfiguration enabled="True">
        <DSC DNS="dsc.sharepoint.test" ConfigurationScript=".\DSC\Resources\Config_xDscWebService.ps1" />
        <PullServiceModule Path="DSC\Modules" />
		<VM ComputerName="" VMSize="Small" DriveSize="60" DriveLabel="DATA-01" OS="Windows Server 2012 R2 Datacenter" LocalAdminUser="manager" LocalAdminPassword="" />
	</DesireStateConfiguration>
	<MemberServers>
		<Server JoinDomain="True">	
			<ComputerName />
			<OS />
			<Guid/>
			<LocalAdminUser />
			<LocalAdminPassword />
			<VMSize /> 
			<Drives>
				<Drive DriveSize="" DriveLabel="" />
				<Drive DriveSize="" DriveLabel="" />
			</Drives>
			<EndPoints>
				<EndPoint Name="" LocalPort="" RemotePort="" />
			</EndPoints>
			<ScriptExtension Required="True" Type="AzureDSC|DomainDSC|Remoting" Path="" />
		</Server>
	</MemberServers>
</Azure>